server:
  port: 8888

spring:
  application:
    name: bookQuest
  datasource:
      url: jdbc:mysql://localhost:3306/book_quest
      password:
      username: root
      driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    database: mysql
    generate-ddl: true
    show-sql: true
    hibernate:
      ddl-auto: update
  h2:
    console:
      enabled: true
      path: /h2-console


